<div class="token-wrapper">
	<div class="token">
		<!-- <img src="logo.png" class="logo" /> -->
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<span class="title">Ankieta Oceny Zajęć,</span><br />
		<span class="title">Semestr Letni, 2012/2013</span><br />
		<br />
		<div class="token-value">Twój token to: {token}</div>
		<br />
		<span class="details">{department},</span><br />
		<span class="details">Kierunek {course},{type}</span><br />
		<span class="details">{level},</span> <span class="details">Semestr {semester}</span><br />
		<br />
		<span class="desc">
		Co z tym zrobić?<br />
		1.Nie wyrzucaj tej karteczki<br />
		2.Wejdź na <strong>www.sjk.umcs.lublin.pl</strong><br />
		3.Pomiędzy 3 czerwca a 15 lipca wypełnij anonimową ankietę<br />
		4.Wyraź swoje zdanie i wpłyń na jakość kształcenia w UMCS!<br />
		</span>
		<br />
		<span class="contact">
		Masz pytania, sugestie, potrzebujesz więcej informacji?<br />
		Pisz na adres: sjk@umcs.lublin.pl
		</span>
	</div>
	<div class="quadrs"></div>
</div>
