{% load i18n %}

<span class="paginator">
  {% if page.has_previous %}
  <a class="link_0" href="?page=1">{% trans "First page" %}</a> |
  <a class="link_0" href="?page={{ page.previous_page_number }}">{% trans "Previous page" %}</a> |
  {% endif %}
  
  <span class="current">
    {{ page.number }} / {{ page.paginator.num_pages }}
  </span>
  
  {% if page.has_next %} 
  |
  <a class="link_0" href="?page={{ page.next_page_number }}">{% trans "Next page" %}</a> |
  <a class="link_0" href="?page={{ page.paginator.num_pages}}">{% trans "Last page" %}</a>
  {% endif %}
</span>
