{% extends "column_1.html" %}

{% load i18n %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}pythia/css/style.css" type="text/css" />
{% endblock %}

{% block page_title %}
{{ block.super }}
| {% trans "Course evaluation survey" %}
{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block horizontal_menu_items %}
{% comment %}
{% if perms.pythia.change_courseproperties %} 
<li><a href="{% url apps.pythia.views.index %}">{% trans "Number of students" %}</a></li>
{% endif %}
{% endcomment %}
{% if perms.pythia.change_courseproperties %}
<li><a href="{% url apps.pythia.views.stats %}">{% trans "Statistics" %}</a></li>
{% endif %}
{% endblock %}

{% block content %}

{% endblock %}

{% block footer_version %}
Pythia {{ VERSION_PYTHIA }}
{% endblock %}
