{% extends "pythia/base.html" %}

{% load i18n %}

{% block content %}

<div>
  	<h2>{% trans "Enter the numbers of students for following courses" %}</h2>
	
	<form action="" method="post">
	{% csrf_token %}
		
	<table class="table_0">
      	<thead><tr>
          	<td class="left label">{% trans "Courses" %} \ {% trans "Semesters" %}</td>
          	{% for i in semesters %}
          	<td class="left label">{{i}}</td>
          	{% endfor %}
    	</tr></thead>
      	
      	<tbody>
      		
		    {{ courses_students_number_formset.management_form }}
      		{% for form in courses_students_number_formset %}
		        <tr>
		        	<td class="left question">{{ form.course }}{{ form.course.label }}</td>
		        	{% for sem in semesters %}
		        		<td class="left label">
			          	{% for field in form.visible_fields %}
			          		{% if field.name == sem|stringformat:"d" %}
			          		{{ field }}
			          		{{ field.errors }}
			          		{%endif%}
			          	{% endfor %}
			          	</td>
		          	{% endfor %}
		        </tr>
		
		    {% endfor %}
      		
      	</tbody>
      	<thead><tr>
          	<td class="left label" colspan="11"><button type="submit">{% trans "Save" %}</button></td>
    	</tr></thead>
	</table>      	
		
	</form>

</div>

{% endblock %}
