{% extends "pythia/base.html" %}

{% load i18n %}

{% block content %}

<div id="subjects">
	
  <h2>
  	{% blocktrans with poll.name as name %}
  	Course Evaluation Survey - {{ name }}.
  	{% endblocktrans %}
  </h2>
  
  <br />
  <p>
    {% blocktrans %}Dear Sirs!<br />
    The purpose of this survey is to obtain information about your experiences and opinions regarding the classes. <br />
	They will be used to systematically analyze and improve the quality of education in our University. <br />
	Therefore, we kindly ask you to fill out the questionnaire. Obtained opinions are confidential.{% endblocktrans %}
	<br />
  </p>
  <br />
	
  <h2>{% trans "Select subjects that you want to give opinion about" %}:</h2>

  <form action="{% url apps.pythia.views.first %}" method="post">
    {% csrf_token %}

    <div class="spacer_10"></div>

    {{ subjects_form.subjects }}

    <div class="spacer_10"></div>

    <div class="bar_0">
      <button class="button_2" type="submit" name="action" value="OK">{% trans "Go to the next step" %}</button>
    </div>
  </form>
</div>

{% endblock %}
