{% extends "pythia/base.html" %}

{% load i18n %}

{% block content %}

<div>
  	<h2>{% trans "Number of students" %}</h2>
  
  	<span>{% trans "Current number of all studentw" %}: {{ all_students_cnt }}</span><br />
  	<span>{% trans "To update the numbers of students, please choose one letter from the list below." %}</span><br />
  	<span>{% trans "All courses starting with this letter will be listed." %}</span><br />
  	<span>{% trans "Please fill the number of students for all semester of all courses." %}</span><br />
  	
  	<br />
    <div class="letters">
    <div class="wrapper">
        {% for l in courses_letters %}
            <a href="{% url apps.pythia.views.count letter=l %}" {% if letter|upper == l|upper %} class="active" {% endif %}>{{l|upper}}</a>
        {% endfor %}
    </div>
    </div>
  	
</div>

{% endblock %}
