{% extends "pythia/base.html" %}

{% load i18n %}

{% block content %}

<div id="last">
  <form action="{% url apps.pythia.views.last %}" method="post">
    {% csrf_token %}

    
    <table class="table_0">
      <thead>
        <tr>
          <td class="left label" colspan="2">{% trans "Final questions" %}</td>
        </tr>
      </thead>
      <tbody>
	    {% for formset in question_formset %}
	    {{ formset.management_form }}
	    {% if formset.forms %}
	        {% for form in formset.forms %}
	        <tr>
	          <td class="left question">{{ form.id }} {{ form.question }} {{ form.answer.label }}</td>
	          <td>{{ form.answer.errors }} {{ form.answer }}</td>
	        </tr>
	        {% endfor %}
	    {% endif %}
	    {% endfor %}
      </tbody>
    </table>

    <div class="spacer_10"></div>

    <div class="bar_0">
      <button class="button_2" type="submit" name="action" value="prev">{% trans "Go back to previous step" %}</button>
      <button class="button_2" type="submit" name="action" value="next">{% trans "Go to the next step" %}</button>
    </div>
  </form>
</div>

{% endblock %}
