{% extends "pythia/base.html" %}

{% load i18n %}

{% block content %}

<div id="login">
  <h2>
  	{% blocktrans with poll.name as name %}
  	Welcome to Course Evaluation Survey - {{ name }}.
  	{% endblocktrans %}
  </h2>
  <h2>{% trans "Insert your token and choose subjects that you want to give opinions about." %}</h2>
  <br />
  
  <form action="{% url apps.pythia.views.login %}" method="post">
    {% csrf_token %}
    <table class="table_0">
      <thead>
	<tr>
	  <td class="left" colspan="2">{% trans "Login" %}</td>
	</tr>
      </thead>
      </thead>
      <tbody>
        <tr>
          <td class="label left">{% trans "Token" %}:</td>
          <td>{{ token_form.token }}</td>
        </tr>
        <tr>
          <td class="label left">{% trans "E-mail" %}:</td>
          <td>{{ token_form.email }}</td>
        </tr>
      </tbody>
    </table>

    <div class="spacer_10"></div>

    <div class="bar_0">
      <button class="button_2" type="submit" name="action" value="login">{% trans "Log in" %}</button>
    </div>
  </form>
</div>

{% endblock %}
