{% extends "pythia/base.html" %}

{% load i18n %}

{% block content %}

<div id="logout">
  <h2>
    {% trans "Thank you for your opinions." %}
  </h2>
  <p>
  	{% trans "The results will be given to the authorities of the University, deans of Faculties and teachers whose classes you have given opinions about." %}
  </p>
  <p>
  	{% trans "This gives you a real impact on the quality of education in the UMCS." %}
  </p>
</div>

{% endblock %}