{% extends "pythia/base.html" %}

{% load i18n pythia_utils %}

{% block content %}

<div id="result_polls">
  <h2>
    {% blocktrans with poll_name=poll.name %}Poll results: {{ poll_name }}{% endblocktrans %}
  </h2>
  <hr style=" border: 0px; border-top: solid 1px #CCCCCC;"/>
  <h2>
    {% trans "Department:" %} {{department}} 

  </h2>
	
    <table class="table_0">
    <thead>
      <tr>
      	<td>{% trans "Page" %}</td>
      	<td class="td_answer_header">{% trans "Votes" %}</td>
      	<td class="td_answer_header">{% trans "Mark" %}</td>
      	
      </tr>
    </thead>
    <tbody>
    	<tr>
    		<td colspan="3"><a href="{% url apps.pythia.views.result_poll_department poll_id=poll.id department_id=department.id mode='detailed' %}" class="link_0">{% trans "Results table" %}</a></td>
    	</tr>
    	<tr>
    		<td colspan="3"><a href="{% url apps.pythia.views.result_poll_department poll_id=poll.id department_id=department.id mode='personal' %}" class="link_0">{% trans "Personal ranking" %}</a></td>
    	</tr>
    	<tr>
    		<td colspan="3"><a href="{% url apps.pythia.views.result_poll_department poll_id=poll.id department_id=department.id mode='department' %}" class="link_0">{% trans "Department ranking" %}</a></td>
    	</tr>
    	<tr>
    		<td colspan="3"><!-- <a href="{% url apps.pythia.views.result_poll_department poll_id=poll.id department_id=department.id mode='student' %}" class="link_0"> -->{% trans "Students' participation" %}<!-- </a> --></td>
    	</tr>
    	<tr class="td_summary">
    		<td colspan="1" ><a href="{% url apps.pythia.views.result_poll_department poll_id=poll.id department_id=department.id %}" class="link_0">{% trans "Summary" %}</a></td>
    		<td class="td_answer">{{ results.1 }}</td>
    		<td class="td_answer">{{ results.0 }}</td>
    	</tr>
    </tbody>
   </table>
   <div class="spacer_5"></div>
   {% if mode == "detailed" %}
	   {% for part in detailed_results.parts %}
			{% if part.type == 1 %}
				<div class="spacer_5"></div>
				<h3>{{ part.content }}</h3>
		    {% elif part.type == 2 %}
				{{ part.content }}
				<div class="spacer_5"></div>
		    {% elif part.type == 3 %}
		        <table class="table_0 row_highlight">
	    		<thead>
	      			<tr>
				      	<td>{% trans "Question" %}</td>
				      	{% for answer in part.answers %}
				      	<td class="td_answer_header">{{ answer }}</td>
				      	{% endfor %}
				      	<td class="td_answer_header">{% trans "Weight" %}</td>
				      	<td class="td_answer_header">{% trans "Mark" %}</td>
	      			</tr>
	    		</thead>
	    		<tbody>
	    			{% for question in part.questions %}
	    			<tr>
	    			<td>{{ question }}</td>
	    			{% for answer in part.answers %}
				    	<td class="td_answer">{{ question.answers|hash:answer }}</td>
				    {% endfor %}
				    <td class="td_answer">{{ question.weight_str }}%</td>
	    			<td class="td_answer">{{ question.mark_str }}</td>
	    			</tr>
	    			{% endfor %}
				</tbody>
				</table>
				<div class="spacer_5"></div>
			{% elif part.type == 4 %}
				<table class="table_0">
	    		<thead>
	    			<td class="td_comment_info"> {% trans "Teacher" %} </td>
	    			<td class="td_comment_info"> {% trans "Subject" %} </td>
	    			<td > {{ part.content }} </td>
	    			{% if is_superuser == 1 %}<td class="td_answer_header">{% trans "Student" %}</td>{% endif %}
	    		</thead>
	    		<tbody>
	    			{% for answer in part.answers %}
	    				<tr>
	    					<td>{{answer.teacher}}</td>
	    					<td>{{answer.subject}}</td>
	    					<td class="td_comment">{{answer.text}}</td>
	    					{% if is_superuser == 1 %}<td>{{answer.student}}</td>{% endif %}

	    				</tr>
	    			{% endfor %}
	    		</tbody>
	    		</table>
		    {% endif %}
	   {% endfor %}
   {% elif mode == "personal" %}
   <div class="spacer_5"></div>
   <table class="table_0 row_highlight">
	   <thead>
	      <tr>
	      	<td class="td_lp">{% trans "L.p." %}</td>
	      	<td>{% trans "Teacher" %}</td>
	      	<td class="td_answer_header">{% trans "Votes" %}</td>
	      	<td class="td_answer_header">{% trans "Mark" %}</td>
	      	
	      </tr>
	    </thead>
	    <tbody>
	    	{% for item in ranking %}
	    	<tr>
	    		<td>{{item.4}}</td>
		    	<td><a href="{% url apps.pythia.views.result_poll poll_id=poll.id teacher_id=item.0.id %}" class="link_0">{{ item.0 }}</a></td>
	    		<td class="td_answer">{{ item.1 }}</td>
	    		<td class="td_answer">{{ item.3 }}</td>
    		</tr>
	  	    {% endfor %}   	
	   </tbody>
   </table>
   {% elif mode == "department" %}
      <table class="table_0 row_highlight">
	   <thead>
	      <tr>
	      	<td class="td_lp">{% trans "L.p." %}</td>
	      	<td>{% trans "Unit" %}</td>
	      	<td class="td_answer_header">{% trans "Votes" %}</td>
	      	<td class="td_answer_header">{% trans "Marked" %}</td>
	      	<td class="td_answer_header">{% trans "Mark" %}</td>
	      	
	      </tr>
	    </thead>
	    <tbody>
	    	{% for item in ranking %}
	    	<tr>
	    		<td> {{item.5}}</td>
		    	<td><a href="{% url apps.pythia.views.result_poll_department poll_id=poll.id department_id=item.0.id mode='department' %}" class="link_0">{{ item.0 }}</a></td>
	    		<td class="td_answer">{{ item.1 }}</td>
	    		<td class="td_answer">{{ item.2 }}</td>
	    		<td class="td_answer">{{ item.4 }}</td>
    		</tr>
	  	    {% endfor %}   	
	   </tbody>
   </table>
   {% endif %}
   
</div>

{% endblock %}

