{% extends "pythia/base_print.html" %}

{% load i18n pythia_utils %}

{% block content %}

<div id="result_polls">
  <h2>
    {% blocktrans with poll_name=poll.name %}Poll results: {{ poll_name }}{% endblocktrans %}
  </h2>
  <hr style=" border: 0px; border-top: solid 1px #CCCCCC;"/>
  <h2>
    {% trans "Teacher:" %} {{teacher.degree}} {{ teacher.user_profile.user.first_name }} {{ teacher.user_profile.second_name }} {{ teacher.user_profile.user.last_name }}
  </h2>
    <table class="table_0">
    <thead>
      <tr>
      	<td>{% trans "Subject" %}</td>
      	<td>{% trans "Course" %}</td>
      	<td class="td_answer_header">{% trans "Votes" %}</td>
      	<td class="td_answer_header">{% trans "Mark" %}</td>
      	
      </tr>
    </thead>
    <tbody>
    	
    	{% for subject in subjects %}
    	<tr>
    		<td><a>{{subject.subject}}</a></td>
    		<td>{{ subject.course }}</td>
    		<td class="td_answer">{{ subject.votes }}</td>
    		<td class="td_answer">{{ subject.mark_str }}</td>
    	</tr>
    	{% endfor %}
    	<tr class="td_summary">
    		<td colspan="2" ><a>{% trans "Summary" %}</a></td>
    		<td class="td_answer">{{ results.votes }}</td>
    		<td class="td_answer">{{ results.mark_str }}</td>
    	</tr>
    </tbody>
   </table>
   <div class="spacer_5"></div>
   {% if subject == None %}
   		<h2>{% trans "Summary" %}</h2>
   {% else %}
   		<h2>{{subject}}</h2>
   {% endif %}
   
   {% for part in detailedresults.parts %}
		
		{% if part.type == 1 %}
			<div class="spacer_5"></div>
			<h3>{{ part.content }}</h3>
	    {% elif part.type == 2 %}
			{{ part.content }}
			<div class="spacer_5"></div>
	    {% elif part.type == 3 %}
	        <table class="table_0 row_highlight">
    		<thead>
      			<tr>
			      	<td>{% trans "Question" %}</td>
			      	{% for answer in part.answers %}
			      	<td class="td_answer_header">{{ answer }}</td>
			      	{% endfor %}
			      	<td class="td_answer_header">{% trans "Weight" %}</td>
			      	<td class="td_answer_header">{% trans "Mark" %}</td>
      			</tr>
    		</thead>
    		<tbody>
    			{% for question in part.questions %}
    			<tr>
    			<td>{{ question }}</td>
    			{% for answer in part.answers %}
			    	<td class="td_answer">{{ question.answers|hash:answer }}</td>
			    {% endfor %}
			    <td class="td_answer">{{ question.weight_str }}%</td>
    			<td class="td_answer">{{ question.mark_str }}</td>
    			</tr>
    			{% endfor %}
			</tbody>
			</table>
			<div class="spacer_5"></div>
		{% elif part.type == 4 %}
			<table class="table_0">
    		<thead>
    			<td > {{ part.content }} </td>
    		</thead>
    		<tbody>
    			{% for answer in part.answers %}
    				<tr><td class="td_comment">{{answer.text}}</td></tr>
    			{% endfor %}
    		</tbody>
    		</table>
	    {% endif %}
   {% endfor %}
   
   {% for subjectresults in subjectdetailedresults %}
      <div class="spacer_20"> </div>
      
	  <h2>{{ subjectresults.subject }}, {{ subjectresults.course }}</h2>
      {% for part in subjectresults.parts %}
		
		{% if part.type == 1 %}
			<div class="spacer_5"></div>
			<h3>{{ part.content }}</h3>
	    {% elif part.type == 2 %}
			{{ part.content }}
			<div class="spacer_5"></div>
	    {% elif part.type == 3 %}
	        <table class="table_0 row_highlight">
    		<thead>
      			<tr>
			      	<td>{% trans "Question" %}</td>
			      	{% for answer in part.answers %}
			      	<td class="td_answer_header">{{ answer }}</td>
			      	{% endfor %}
			      	<td class="td_answer_header">{% trans "Weight" %}</td>
			      	<td class="td_answer_header">{% trans "Mark" %}</td>
      			</tr>
    		</thead>
    		<tbody>
    			{% for question in part.questions %}
    			<tr>
    			<td>{{ question }}</td>
    			{% for answer in part.answers %}
			    	<td class="td_answer">{{ question.answers|hash:answer }}</td>
			    {% endfor %}
			    <td class="td_answer">{{ question.weight_str }}%</td>
    			<td class="td_answer">{{ question.mark_str }}</td>
    			</tr>
    			{% endfor %}
			</tbody>
			</table>
			<div class="spacer_5"></div>
		{% elif part.type == 4 %}
			<table class="table_0">
    		<thead>
    			<td > {{ part.content }} </td>
    		</thead>
    		<tbody>
    			{% for answer in part.answers %}
    				<tr><td class="td_comment">{{answer.text}}</td></tr>
    			{% endfor %}
    		</tbody>
    		</table>
	    {% endif %}
   		{% endfor %}
   {% endfor %}

</div>

{% endblock %}

