{% extends "pythia/base.html" %}

{% load i18n %}

{% block content %}

<div id="result_polls">
	<h2> {% blocktrans with poll_name=poll.name %}Poll results: {{ poll_name }}{% endblocktrans %} </h2>
	<a href="{% url apps.pythia.views.result_poll poll_id=poll_id teacher_id=own.id %}" class="link_0">{% trans "See your results" %}</a>
	<div class="spacer_15"></div>
	<div class="result_columns">
		<div class="result_column_left">
			<table class="table_0">
				<thead>
					<tr>
						<td>{% trans "Subordinate teacher" %}</td>
					</tr>
				</thead>
				<tbody>
					{% for teacher in teachers %}
					<tr>
						<td><a href="{% url apps.pythia.views.result_poll poll_id=poll_id teacher_id=teacher.id %}" class="link_0">{{ teacher }}</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="result_column_right">
		<div class="result_column_right_margin">
			<table class="table_0">
				<thead>
					<tr>
						<td>{% trans "Subordinate unit" %}</td>
					</tr>
				</thead>
				<tbody>
					{% for department in departments %}
					<tr>
						<td><a href="{% url apps.pythia.views.result_poll_department poll_id=poll.id department_id=department.id %}" class="link_0">{{ department }}</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}
