{% extends "pythia/base.html" %}

{% load i18n %}

{% block content %}

<div id="result_polls">
  <h2>
    {% trans "Polls results" %}
  </h2>
  
<ul class="infolist">
<li>Szanowni Państwo, bardzo przepraszamy za błędy i utrudnienia pojawiające się na stronie związane z wynikami oceny zajęć na kontach indywidualnych. Średnie podane w obu semestrach były średnimi za cały rok 2012/2013, w dniu 14.03.2014 błąd został naprawiony. Aktualne średnie w każdym semestrze są średnimi tylko dla wybranego semestru.</li>
</ul>

  
  <p>{% trans "Check results of the finished polls shown in the table below." %}</p>
  <br />
	
  <table class="table_0">
    <thead>
      <tr>
      	<td>{% trans "Poll" %}</td>
      	<td class="td_poll_duration">{% trans "Expiry date" %}</td>
      </tr>
    </thead>
    <tbody>
    	{% for p in polls_page %}
    	<tr>
    		<td><a href="{% url apps.pythia.views.result_poll_teacherlist poll_id=p.id %}" class="link_0">{{ p.name }}</a></td>
    		<td>{{ p.start_date }} - {{ p.end_date }}</td>
    	</tr>
    	{% endfor %}
    </tbody>
   </table>
  
  {% load paginator %}
  {% paginator polls_page %}
</div>

{% endblock %}

