{% extends "pythia/base.html" %}

{% load i18n %}

{% block content %}

<div id="logout">
  <h2>
    {% trans "Active poll statistics" %}: {{ poll }}
  </h2>
  
  {% if not poll %}
  	<p>{% trans "Statistics are unavailable, because there is no active poll." %}</p>
  {% else %}
  
  	<div class="row">
	  	<div class="span6">
		  	<h3>{% trans "Statistics based on the number of tokens" %}</h3>
		  	{% blocktrans with used_t=used_t all_t=all_t percent_t=percent_t %}There have been <b>{{used_t}}</b> out of <b>{{all_t}}</b> (<b>{{percent_t}}%</b>) tokens used.{% endblocktrans %}
		  	<br />
	  		<table class="table_0" style="width: 100%;">
	  			<thead>
	  				<tr><th>{% trans "Semester" %}</th><th>{% trans "Used tokens" %}</th><th>{% trans "All tokens" %}</th></tr>
	  			</thead>
	  			<tbody>
		  			{% for s in semesters_usage %}
		  			<tr><td>{{ s.semester }}</td><td>{{ s.used }}</td><td>{{ s.all }}</td></tr>
		  			{% endfor %}
	  			</tbody>
	  		</table>
	  	</div>

{% comment %}
	  	<div class="span6">
	  		<h3>{% trans "Statistics based on the number of students" %}</h3>
		  	{% blocktrans with used_t=used_t all_t=all_t percent_t=percent_t %}There have been <b>{{used_t}}</b> tokens used out of <b>{{all_s}}</b> students. (<b>{{percent_t}}%</b>){% endblocktrans %}
		  	<br />
	  		<table class="table_0" style="width: 100%;">
	  			<thead>
	  				<tr><th>{% trans "Semester" %}</th><th>{% trans "Used tokens" %}</th><th>{% trans "All students" %}</th></tr>
	  			</thead>
	  			<tbody>
		  			{% for s in semesters_usage %}
		  			<tr><td>{{ s.semester }}</td><td>{{ s.used }}</td><td>{{ s.all_students }}</td></tr>
		  			{% endfor %}
	  			</tbody>
	  		</table>
	  	</div>
{% endcomment %}
  	</div>

  	<div class="clear spacer_15"></div>
  	
  	<h2>{% trans "Statistics for selected course" %}{% if current_course %}: {{ current_course }}{% endif %}</h2>
  	{% if current_course %}
  	
  	<div class="row">
	  	<div class="span6">
		  	{% blocktrans with mused_t=mused_t mall_t=mall_t mpercent_t=mpercent_t %}There have been <b>{{mused_t}}</b> out of <b>{{mall_t}}</b> (<b>{{mpercent_t}}%</b>) tokens used.{% endblocktrans %}
		  	<br />
	  		{% trans "The following table shows the distribution of the tokens in the semesters of all years of selected course." %}<br />
	  		<br />
	  		<table class="table_0" style="width: 100%;">
	  			<thead>
	  				<tr><th>{% trans "Semester" %}</th><th>{% trans "Used tokens" %}</th><th>{% trans "All tokens" %}</th></tr>
	  			</thead>
	  			<tbody>
		  			{% for s in msemesters_usage %}
		  			<tr><td>{{ s.semester }}</td><td>{{ s.used }}</td><td>{{ s.all }}</td></tr>
		  			{% endfor %}
	  			</tbody>
	  		</table>
	  		<br />
	  	</div>

{% comment %}
	  	<div class="span6">
		  	{% blocktrans with mused_t=mused_t mall_t=mall_t mpercent_t=mpercent_t %}There have been <b>{{mused_t}}</b> tokens used out of <b>{{mall_s}}</b> students. (<b>{{mpercent_t}}%</b>){% endblocktrans %}
		  	<br />
	  		{% trans "The following table shows the distribution of the tokens in the semesters of all years of selected course comparing to the number of students." %}<br />
	  		<br />
	  		<table class="table_0" style="width: 20%;">
	  			<thead>
	  				<tr><th>{% trans "Semester" %}</th><th>{% trans "Used tokens" %}</th><th>{% trans "All students" %}</th></tr>
	  			</thead>
	  			<tbody>
		  			{% for s in msemesters_usage %}
		  			<tr><td>{{ s.semester }}</td><td>{{ s.used }}</td><td>{{ s.all_students }}</td></tr>
		  			{% endfor %}
	  			</tbody>
	  		</table>
	  		<br />
	  	</div>
{% endcomment %}
  	</div>
  	{% endif %}

  	<div class="clear spacer_15"></div>
  	
  	<p>{% trans "To check the statistics for particular course, choose it from the list below:" %}</p><br />
  	<p>
  		<form action="{% url apps.pythia.views.stats %}" method="get">
  		{{ form }}
  		<button type="submit">{% trans "Show" %}</button>
  		</form>
  	</p>
  	<br />
  	<h2>
    	{% trans "Final open questions" %}
  	</h2> 
  		<p>{% trans "To check the answers to the final open questions please choose it from the list below:" %}</p><br />
  		{% if open_questions|length > 0 %}
	  		<ol>
	  			{% for oq in open_questions %}
	  				<li><a href="{% url apps.pythia.views.stats_question question_id=oq.id %}">{{ oq.name }}</a></li>
	  			{% endfor %}
	  		</ol>
  		{% else %}
  			<p><b>{% trans "No questions" %}</b></p>
  		{% endif %}
  {% endif %}
  
</div>

{% endblock %}

