{% extends "pythia/base.html" %}

{% load i18n %}

{% block content %}

<div id="logout">
  <h2>
    {% trans "Question's statistics" %}
  </h2>
  
  

  <table class="table_0">
    <thead>
      <tr>
      	<td>{% trans "Answer" %}</td>
      </tr>
    </thead>
    <tbody>
    	{% for a in answers_page %}
    	<tr><td>{{ a.text }}</td></tr>
    	{% endfor %}
    </tbody>
   </table>
  
  {% load paginator %}
  {% paginator answers_page %}
</div>

{% endblock %}

