{% extends "pythia/base.html" %}

{% load i18n %}

{% block js %}
{# block.super #}
<script type="text/javascript" src="{{ STATIC_URL }}/pythia/js/window_popup.js"></script>
{% endblock %}

{% block content %}

<div id="wizard">
  <form action="{% url apps.pythia.views.wizard %}" method="post">
    {% csrf_token %}
    
    <table class="table_0">
      <thead>
        <tr>
          <td class="left label" colspan="2">{% trans "Subject" %}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">
          	<h2>{{ subject }}</h2>
          </td>
        </tr>
      </tbody>
    </table>
    
    <div class="spacer_10"></div>

    <table class="table_0">
      <thead>
        <tr>
          <td class="left label" colspan="2">{% trans "Teacher" %}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left question">
	    {% trans "Teacher" %}:
	  </td>
          <td>
          	{{ teacher_form.errors.teacher }} {{ teacher_form.teacher }} 
          	<a class="link_0 find_teacher" href="#"
		       onclick="show_window('{% url apps.pythia.views.find_teacher %}', 'id_teacher'); return false;">
		      {% trans "Cannot find your teacher? Find him by clicking this text." %}
		    </a>
		    {{ teacher_form.selected_teacher }}{{ teacher_form.subject }}
          </td>
        </tr>
      </tbody>
    </table>

    <div class="spacer_10"></div>

    {% for formset in question_formsets %}
    {{ formset.management_form }}
    {% endfor %}
    
    {% for q in all_questions %}
    	
    	{% if q.type.id == type_group_id %}
    	
    		{% if forloop.counter0 > 0 %}
    			</tbody>
    			</table>
    			<br />
    		{% endif %}
	    	 	<table class="table_0">
	      		<tbody>
	        	<tr class="heading"><td class="left label" colspan="2">{{ q.name }}</td></tr>
    	{% elif q.type.id == type_group_description_id %}
	        	<tr class="subheading"><td class="left label" colspan="2">{{ q.name }}</td></tr>
    	{% else %}
		    {% for formset in question_formsets %}
		        {% for form in formset.forms %}
		        	{% if q.id == form.question_id %}
			        <tr>
			          <td class="left question">{{ form.id }} {{ form.question }} {{ form.answer.label }}</td>
			          <td>{{ form.errors.answer }} {{ form.answer }}</td>
			        </tr>
		        	{% endif %}
		        {% endfor %}
		    {% endfor %}
	    {% endif %}
    	
    {% endfor %}
	</tbody>
	</table>
	<br />

    <div class="bar_0">
      {% if pos != 0 %}
      <button class="button_2" type="submit" name="action" value="prev">{% trans "Go back to previous step" %}</button>
      {% endif %}
      <button class="button_2" type="submit" name="action" value="curr">{% trans "Give the opinion about the same subject, but conducted by other teacher" %}</button>
      <button class="button_2" type="submit" name="action" value="next">{% trans "Go to the next step" %}</button>
    </div>
  </form>
</div>

{% endblock %}
