
.table_0 {table-layout: fixed;}
.table_0 td, .table_0 th { padding: 5px; }
.table_0 td.left { padding-left: 5px; text-align: left; }
.table_0 thead td.left { padding-left: 5px; }
.table_0 tr.subheading {font-weight: bold; color: #666; text-align: left; vertical-align: middle; height: 30px}

.page_breaker {display: block; clear: both; page-break-after: always;}

.td_lp {width: 30px;}
.td_answer_header {width: 100px; overflow: hidden; text-align: center;}
.td_answer {width: 100px; overflow: hidden; text-align: right;}
.td_poll_duration {width: 200px;}
.td_summary {font-weight: bold;}
.td_comment {font-style: italic;}
.td_comment_info {width: 200px;}

.result_columns{width: 100%;}
.result_column_left{width: 50%; float: left;}
.result_column_right{width: 50%; float: right;}
.result_column_right_margin{padding-left: 5px;}

.bg_color_dark { background-color: #C90E19; }
#horizontal_menu ul li a { color: #FFFFFF; }
#horizontal_menu ul li a:hover { background-color: #A00E19; }
#horizontal_menu ul li a.home { background-image: url('../../syjon/images/icons/icon_home_2.png'); }

.table_0 select { width: 241px; }
.table_0 .question { width: 410px; }

#subjects {  }
#subjects ul li { line-height: 25px; }
#subjects p, #login p, #logout p { line-height: 15px; } 

#logout {  }

.letters {text-align: center; margin: 5px 0;}
.letters .wrapper {display: inline-block;}
.letters a {display: block; float: left; margin: 2px; padding: 0 5px; height: 20px; text-align: center; line-height: 20px; text-decoration: none; border: 1px solid #C0BFC4; background-color: #dedede; color: #666666;}
.letters a:hover {background-color: #7C7A88; color: #ffffff; border-color: #7C7A88;}
.letters a.active {background-color: #4d4a5e; color: #ffffff; border-color: #4d4a5e;}

.row { margin-left: -1%; }
[class*="span"] { float: left; margin-left: 1%; }
.span6 { width: 49%; }
